/* Common Styles - Navigation & Footer */

/* Navigation Container */
.nav-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 100%;
  height: 75px;
  border-bottom: 1px solid rgba(249, 249, 249, 0.976471);
  flex: none;
  align-self: stretch;
  flex-grow: 0;
}

.nav-inner-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 4px;
  width: 1160px;
  height: 75px;
  flex: none;
  flex-grow: 0;
}

.nav-logo-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  width: 280px;
  height: 75px;
  flex: none;
  align-self: stretch;
  flex-grow: 1;
}

.nav-logo-box a {
  width: fit-content;
  height: 30px;
  font-family: 'Spoqa Han Sans Neo', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  margin: 0;
  flex: none;
  flex-grow: 0;
  text-decoration: none;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 28px 35px;
  gap: 26px;
  width: 600px;
  height: 75px;
  flex: none;
  align-self: stretch;
  flex-grow: 0;
  list-style: none;
  margin: 0;
}

.navbar li {
  list-style: none;
}

.navbar a {
  width: fit-content;
  height: 20px;
  font-family: 'Spoqa Han Sans Neo', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
  flex: none;
  flex-grow: 0;
}

.navbar > .nav-item > a:hover {
  color: #000000;
}

/* 서브페이지 드롭다운 위치 조정 */
.page-container .dropdown-menu {
  top: calc(100% - 20px);
}

.nav-button-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 6px;
  width: 280px;
  height: 75px;
  flex: none;
  align-self: stretch;
  flex-grow: 1;
}

.nav-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
  height: 42px;
  border-radius: 50px;
  flex: none;
  flex-grow: 0;
  text-decoration: none;
}

.nav-button:hover {
  background-color: #f5f5f5;
}

.nav-button .text-wrapper-2 {
  width: fit-content;
  height: 18px;
  font-family: 'Spoqa Han Sans Neo', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  flex: none;
  flex-grow: 0;
}

.div-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;
  height: 42px;
  background: #1F63C9;
  border-radius: 50px;
  flex: none;
  flex-grow: 0;
  text-decoration: none;
}

.div-wrapper:hover {
  background: #1a54ab;
}

.div-wrapper .text-wrapper-3 {
  width: fit-content;
  height: 18px;
  font-family: 'Spoqa Han Sans Neo', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  flex: none;
  flex-grow: 0;
}

/* Footer Styles */
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 100%;
  height: 400px;
  background: #F9FBFF;
  flex: none;
  align-self: stretch;
  flex-grow: 0;
}

.footer-inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px 27px;
  gap: 4px;
  width: 1160px;
  height: 400px;
  flex: none;
  align-self: stretch;
  flex-grow: 0;
  box-sizing: border-box;
}

/* Screen Reader Only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
